* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.UserPage {
  height: 100vh;
  margin-top: 75px;
  margin-bottom: 75px;
}

.UmfrageList {
  margin-left: 20px;
  list-style: none;
}

.UmfrageListTitel{
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    
}

.UserUmfrageList {
  color: blue;
  text-align: center;
}
.UserUmfrageList:hover {
  color: darkblue;
  text-decoration: none;
}

.UserHeader {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px auto;
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 2px black;
}

.SubHeader {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}



@media screen and (max-width: 780px) {
  .UserHeader {
    font-size: 1.2rem;
  }
  .UmfrageListTitel{
      font-size: 1.2rem;
  }

  .SubHeader {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
