#umfragen{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px auto;
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 2px black;
}


@media only screen and (max-width: 425px){
  #container{
    padding:0.1!important;
  }  ul li {
    display:flex;
    flex-direction:column;
    text-align: center;
    margin:0!important;
    padding:0!important;
  }
  #center{
    margin: 0!important;
    margin-top: 0.5rem!important;
  }
  #umfragen{
    margin-top: 1rem;
  }
}
